In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/beverage_dispenser.json"
df = pd.read_json(url)
df.head()

                                             content
0  {'date': '2019-11-14T11:53:35.000Z', 'product'...
1  {'date': '2019-11-14T12:06:35.000Z', 'product'...
2  {'date': '2019-11-14T12:07:59.000Z', 'product'...
3  {'date': '2019-11-14T12:13:45.000Z', 'product'...
4  {'date': '2019-11-14T12:22:35.000Z', 'product'...

In [3]:
# distinguer les colonnnes 
df = pd.json_normalize(df['content'])
df.head()

                       date product machine
0  2019-11-14T11:53:35.000Z  refill       A
1  2019-11-14T12:06:35.000Z  coffee       A
2  2019-11-14T12:07:59.000Z    soda       A
3  2019-11-14T12:13:45.000Z    soda       A
4  2019-11-14T12:22:35.000Z  coffee       A